.container {
  max-width: 400px;
  margin: auto;
  text-align: center;
  border: rgb(160, 160, 160) 2px solid;
}
.addConteiner {
  max-width: 400px;
  margin: auto;
  text-align: center;
  border: rgb(160, 160, 160) 2px solid;
}

form {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}